.Navbar {
  width: 100%;
  height: 60px;
  background: rgb(12, 25, 41);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.Navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.Navbar li {
  margin: 0 10px;
}

.Navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.05em;
}

.Navbar a:hover {
  color: brown;
}