.Filter {
  margin: 20px 0;
}

.Filter button {
  padding: 9px 14px;
  margin: 0 3px;
  border: none;
  background: #0C1929;
  color: white;
  text-transform: uppercase;
}

.Filter button:hover {
  background: brown;
}